.sidenav {
  width: 250px;
  border-radius: 0px !important;
  background-color: #5f5f5f;
}

.main-content {
  padding: 20px;
  background-color: #f4f4f4;
}

.app-title{
    margin-left: 30px;
}

.mat-toolbar {
  background-color: #3f51b5;
  color: white;
}
