html,
body,
.mat-sidenav-container {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-drawer-inner-container .mdc-list-item__primary-text{
  color: #ffffff !important;
}